body, button, input {
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

header {
  background-image: url(./images/simple-background-backgrounds-passion-simple-1-5c9b95c3a34f9.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}